header, .project:not(:last-child) {
  border-bottom: 1px solid rgb(204, 204, 204);
  align-content: center;
  text-align:center;
}

.login-form{
  align-content: center;
  text-align:center;
}

.signup-form{
  align-content: center;
  text-align:center;
}

h2 {
  align-content: center;
  text-align:center;
}

h3 {
  align-content: center;
  text-align:center;
}

.new-project-form{
  align-content: center;
  text-align:center;
}

.results{
  align-content: center;
  text-align:center;
}

.text-center{
  align-content: center;
  text-align:center;
}

.col-md-5{
  align-content: center;
  text-align:center;
}

.col-md-7{
  align-content: center;
  text-align:center;
}

.center{
  align-content: center;
  text-align:center;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #dd5d2e;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #e0571d;
  text-decoration: underline;
}

.dollar-amount {
  color: #cb5110;
  font-weight: bold;
  margin-left: -5px;
}
